body {
  font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  color: #fff;
  background-color: #224f98;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  border-radius: 10px;
}

.hidden{
  display: none !important;
}

#dvImgCaptcha{
  
  position: absolute;
  width: 87%;
  height: 100%;
  margin-top: 6%;
}

#dvImgCaptcha img{
  width: 253px;
  height: auto;
  border-radius: 10px;
}


#menuFloating{
  position: absolute;
  top: 22px;
  right: 20px;
  width: 18px;
}

#btnShow {
  width: auto;
  height: auto;
}
#btnRefresh img {
  margin-bottom: 10px;
}

#btnRefresh img{
  width: 23px;
  height: auto;
}

#btnHide img{
  width: 18px;
  height: auto;
  margin-left: 3px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#loader{
  margin-left: 8px;
  margin-top: 10px;
  height: 50px;
}